:root {
    --blue: #4285F4;
    --red: #DB4437;
    --lred: #ffdad7;
    --yellow: #F4B400;
    --green: #0F9D58;
    --lgreen: #66fdb4;
    --black: #272727;
    --grey: #999999;
    --lgrey: #e8e8e8f3;
    --wlight: #fafafa;
    --white: whitesmoke;
}