.email-list{
    background-color: rgba(0, 0, 0, 0.096);
}

.attachment-span{
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    padding: 0.2rem;
}
.attachment-container img{
    width: 1.5rem;
}
.attachment-container span{
    /* background-color: lightcoral; */
}