.email-index {
 width: 100%;
}

.email-sidebar {
 width: 12%;
}

.email-main {
 margin-left: auto;
 width: 87%;
}

@media only screen and (max-width: 950px) {
 .email-sidebar {
  width: 20%;
 }

 .email-main {
  width: 79%;
 }
}