.email-list{
    background-color: var(--light-grey)
}

.attachment-span{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    padding: 0.2rem;
}
.email-preview h3 {
    font-size: 1.2rem;
    padding: 0.3rem;
}
.email-preview h4 {
    font-size: 0.9rem;
    padding: 0.3rem;
}
.attachment-container {
    width: max-content;
    border-radius: 5%;
    background-color: #9999993b;
}
.attachment-container img{
    width: 1.5rem;
}
.attachment-container span{
    padding: 0.2rem;
    font-size: 0.9rem;
}