.keep-edit {
    font-size: 1.4rem;
    display: flex;
    background-color: rgb(241, 233, 159);
    margin: 0.4rem;
    padding-bottom: 5rem;
    flex-direction: column;
    width: 90%;
}

.keep-edit h2 {
    top: 0;
    width: 100%;
    text-align: center;
    margin: 0.4rem;
}

.keep-form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.keep-edit input {
    margin: 0.2rem 0rem;
    width: 50%;
    align-self: center;
}

.keep-edit button {
    width: 25%;
    align-self: center;
    margin: 0.2rem;
    border-style: none ;
    background-color:var(--white);
    color: var(--black);
    padding: 0.4rem;
    font-size: 0.8rem;
    border-radius: 0.4rem;
}

.todos-form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.text-input {
    margin: 0.4rem 0rem;
    width: 50%;
    align-self: center;
}

.color-input {
    width: initial;
    margin: 0.5rem;
}

.save-btn {
    margin-top: 1rem;
}

