.keep-preview {
    box-sizing: border-box;
    display: flex;
    margin: 0.2rem;
    flex-direction: column;
    min-height: 6rem;
    max-height: 18rem;
    width: 100%;
    align-content: center;
    padding: 0.4rem;
}

.keep-preview img {
    width: 8rem;
    height: 8rem;
}

.keep-preview h2,
.keep-preview h3 {
    padding: 0.1rem;
}

.keep-preview h1 {
    font-size: 0.8rem;
}
.keep-preview h2 {
    font-size: 0.8rem;
}
.keep-preview h3 {
    font-size: 0.6rem;
    font-weight: normal;
}
.keep-preview li {
    font-size: 0.6rem;
}
