.keep-list a {
    box-sizing: border-box;
    display: flex;
    margin: 0rem;
    flex-direction: column;
    min-height: 6rem;
    max-height: 14rem;
    width: 100%;
    height: 15rem;
    align-content: center;
    padding: 0;
    animation: fade-in 1s;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    cursor: default;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0.4rem;
}


.keep-preview h2,
.keep-preview h3 {
    padding: 0.2rem;
}

.keep-preview h1 {
    font-size: 1rem;
}

.keep-preview h2 {
    font-size: 1.2rem;
}

.keep-preview h3 {
    font-size: 0.8rem;
    font-weight: normal;
}

.keep-preview li {
    font-size: 0.6rem;
    margin-right: 2rem;
}

.file-container {
    width: 100%;
    height: 15rem;
    top: 0;
    align-self: center;
    display: contents;
    height: 2rem;
}

.file-container img,
.file-container video {
    align-self: flex-start;
    height: 7rem;
    display: block;
}

.file-container audio {
    justify-self: center;
    margin-top: 0.4rem;
    width: 90%;
}

.gallery-item li {
    margin-bottom: 0.1rem;
    font-family: cursive;
    width: fit-content;
    font-size: 1rem;
    cursor: text;
}

.keep-btn {
    width: 100%;
    height: 15rem;
    bottom: 0;
    align-self: center;
    display: contents;
    height: 2rem;
}

.keep-btn button {
    height: 100%;
    font-size: 1.2rem;
    padding: 0.1rem 0.4rem;
    background-color: transparent;
    border-style: none;
    color: var(--black);
}

.btn-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
}

.text-container {
    display: block;
    flex-direction: column;
    padding: 0.2rem;
    justify-self: center;
    height: 12rem;
}