.app-header{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    top: 0;
    width: 100%;
    left: 0;
    padding: 0.7rem;
    border-bottom: 0.1rem solid var(--light-grey);
    margin-bottom: 1.2rem;
    position: relative;
}



.logo-wrapper {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0 0;
}
.a-1, .u{
    color: var(--blue);
}
.p-1, .s-2{
    color: var(--green);
}
.p-2{
    color: var(--red);
}
.s-1{
    color: var(--yellow);
}

.navbar-wrapper {
    height: 1.75rem;
}

.navbar-wrapper > * {
    font-size: 20px;
    cursor: pointer;
}

.navbar-wrapper > *:first-child {
    color: var(--green);
    border: none;
    background-color: transparent;
    border-radius: 2rem;
}

.navbar-wrapper > *:first-child:hover {
    background-color: var(--grey);
    color: var(--white);
}

.navbar-wrapper > *:first-child:focus {
    outline: none;
}

.navbar-wrapper > *:last-child {
    margin-left: 0.9rem;
    color: var(--blue);
}

.hide-modal {
    display: none;
}

.show-modal {
    display: block;
    position: absolute;
    bottom: -3.5rem;
    right: 3rem;
    z-index: 999;
}

.fa-user{
    background-color: var(--lgrey);
    border-radius: 2rem;
    font-size: 0.90rem;
}

@media only screen and (min-width: 760px) {
    .logo-wrapper{
        font-size: 1.8rem;
    }
    .app-header{
        margin-bottom: 1.2rem;
        padding: 1.2rem;
    }
}