.app-header{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    top: 0;
    width: 100%;
    left: 0;
    padding: 0.8rem;
    border-bottom: 0.1rem solid var(--light-grey);
    margin-bottom: 1rem;
    position: relative;
}

.logo-wrapper {
    height: 1.75rem;
}

.logo-wrapper {
    background: -webkit-linear-gradient(var(--green), var(--yellow));
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-wrapper {
    height: 1.75rem;
}

.navbar-wrapper > * {
    font-size: 20px;
    margin-left: 2rem;
    cursor: pointer;
}

.navbar-wrapper > *:first-child {
    color: var(--green);
}

.navbar-wrapper > *:last-child {
    color: var(--blue);
}

.hide-modal {
    display: none;
}

.show-modal {
    display: block;
    position: absolute;
    bottom: -3.5rem;
    right: 3rem;
}